/* site wide css */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');
/*
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
*/
body{
    font-family: 'Source Sans Pro', sans-serif; 
}
h1, h2, h3{
    font-family: 'Playfair Display', serif;
}